<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Motorcycles</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${param.error}">
        <label style="color:red">Error.</label>
    </div>
    <div th:if="${param.success}">
        <label style="color:green">Success.</label>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th sec:authorize="hasAuthority('ADMIN')">ID</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Production Year</th>
                <th>Capacity</th>
                <th>Power</th>
                <th>Weight</th>
                <th>Consumption</th>
                <th>Top Speed</th>
                <th>Colour</th>
                <th>Price</th>
                <th>View</th>
                <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="motorcycle : ${motorcycles}">
                <td sec:authorize="hasAuthority('ADMIN')" th:text="${motorcycle.id}">ID</td>
                <td th:text="${motorcycle.manufacturer}">>Manufacturer</td>
                <td th:text="${motorcycle.model}">Model</td>
                <td th:text="${motorcycle.productionYear}">Production Year</td>
                <td th:text="${motorcycle.capacity}">Capacity</td>
                <td th:text="${motorcycle.power}">Power</td>
                <td th:text="${motorcycle.weight}">Weight</td>
                <td th:text="${motorcycle.consumption}">Consumption</td>
                <td th:text="${motorcycle.topSpeed}">Top Speed</td>
                <td th:text="${motorcycle.colour}">Colour</td>
                <td th:text="${motorcycle.price}">Price</td>
                <td><a th:href="${'/motorcycle/details/' + motorcycle.id}">View</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/motorcycle/edit/' + motorcycle.id}">Edit</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/motorcycle/delete/' + motorcycle.id}">Delete</a></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>