<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Motorcycles</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->



    <div th:if="${not #lists.isEmpty(rents)}">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>User e-mail</th>
                <th>Motorcycle ID</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Delete</th>
            </tr>
            <tr th:each="rent : ${rents}">
                <td th:text="${rent.id}">ID</td>
                <td th:text="${rent.user.id}">>User ID</td>
                <td th:text="${rent.user.email}">User e-mail</td>
                <td th:text="${rent.motorcycle.id}">Motorcycle ID</td>
                <td th:text="${rent.motorcycle.manufacturer}">Manufacturer</td>
                <td th:text="${rent.motorcycle.model}">Model</td>
                <td><a th:href="${'/rent/delete/' + rent.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>